footer.footer
  .footer__logo
    img(src='/img/logo-green.png' alt='Trippers logo')
  ul.footer__nav
    li: a(href='http://www.manuarora.me/') Website
    li: a(href='https://www.github.com/manuarora700') GitHub
    li: a(href='http://manuarora.me/type/') Interactive Resume
    li: a(href='https://github.com/manuarora700/trippers-project') View Source
    li: a(href='mailto:manuarorawork@gmail.com') Contact
  p.footer__copyright &copy; by Manu Arora, Use the project for your own purposes. Jai Hind! 🇮🇳