doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    title Trippers | The Wanderlust's Paradise
 
  body
  // HEADER
  header.header
    nav.nav.nav--tours
      a.nav__el(href='#') All tours
    .header__logo
      img(src='img/logo-white.png' alt='Trippers logo')
    nav.nav.nav--user
      //- a.nav__el(href='#') My bookings
      //- a.nav__el(href='#')
      //-   img.nav__user-img(src='img/user.jpg' alt='User photo')
      //-   span Manu
      button.nav__el Login
      button.nav__el.nav__el--cta Signup
      
  // CONTENT
  section.overview
    h1= tour
    
  // FOOTER
  
  footer.footer
    .footer__logo
      img(src='img/logo-green.png' alt='Trippers logo')
    ul.footer__nav
      li: a(href='#') About us
      li: a(href='#') Download apps
      li: a(href='#') Become a guide
      li: a(href='#') Careers
      li: a(href='#') Contact
    p.footer__copyright &copy; by Manu Arora, Use the project for your own purposes. Jai Hind! 🇮🇳